@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#header {
  background-image: url(./assets/hero-bg.jpg);
  min-height: 993px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

#header-background-image {
  filter: brightness(50%);
}

h1 {
  font-size: 20px !important;
  line-height: 84px !important;

}